.outerContainer{
    background-color: rgb(51, 48, 48);
    height: 100vh;
    
}


.room-outer{
    max-width: 1100px;
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.8;
}


.room{
   height: 80vh;
   width: 100%;
   position: relative;
   border: 1px solid wheat;
   
  
}
.shared div:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.videoContainer{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
}
.row1 ,.row2{
    overflow: hidden;
    height: 50%;
    position: relative;
}
.row1 video{
    max-width: 100%;
    height: 100%;


}
.row2 video{

    max-width: 100%;
    height: 100%;
}
.imp video{
    max-width: 100%;
    height: 100%;
}
 
.uservid{
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.uservid video{
    height: 100%;
    width: 100%;
    
   
}
.videoborder{
    border: 1px solid black;
    
    
    
    
    overflow: hidden;
    object-fit: cover;

}
.setting{
    position: absolute;
    bottom: 10px;
    right: -10%;
    
    display: flex;
    padding: 0 100px;
    transform: translateX(-50%);
    z-index: 10;
}

.showParticipants{
    color: #fff;
    padding: 10px;
        height: 25px;
        width: 25px;
        margin: 0 15px;
        cursor: pointer;
        z-index: 10;

}
.chatFeature{
    color: #fff;
    padding: 10px;
        height: 25px;
        width: 25px;
        margin: 0 15px;
        cursor: pointer;
        z-index: 10;
}
.vidsection{
    height: 50%;
    
}
.videoborder video{
   object-fit: cover;
    width: 100%;
    height: 100%;
    

}
.crossLine{
    border-bottom: 2px solid black;
    transform: rotateY(45deg);
    width: 100%;
    position: absolute;
    left: 0;
}
.videoContainer video{
    width: 100%;
    object-fit: cover;

    
}

.vert{
    align-items: center;
}

.containers{
    display: flex;
    justify-content:center;
    
}


.full{
    width: 100%;
    height: 80vh;
    /* border-radius: 25px; */
    position: relative;
   
    overflow: hidden;
   
}
.full video{
    height: 100%;
    width:100%;
    object-fit: cover; 
}
.imp{
    width: 60% !important;
    height: 50%;
    position: relative;
    
}
.threedot{
    width: 30px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 10px rgb(99, 99, 99);
    border-radius: 50%;
    cursor: pointer;
}
.option{
    color: #fff;
    
}

.open{

color: white;
background-color:#52b95d;
}
.closed{
color: white;
background-color: #f05454;
}
.mic,.shareScreen{
        /* color: rgb(233, 83, 83); */
        
        padding: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 0 15px;
        cursor: pointer;
        z-index: 10;
    }
.function{

    position: absolute;
    bottom: 10px;
    left: 50%;
    
    display: flex;
    padding: 0 100px;
    transform: translateX(-50%);
    z-index: 10;
}
.video,.end{
   
        padding: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 0 15px;
        cursor: pointer;
}
.end{
    background-color:#f05454 ;
    color: white;
    z-index: 10;
}
.shareScreenclosed{
    background-color: white;
    z-index: 10;
}
.fullscreen{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    z-index: 9 !important;
    
   
}
.pincolor{
    color: rgb(76, 130, 190);
}

.middleware{
    display: flex;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}
.videoDiv{
    max-width: 500px;
    margin-bottom: 9px;

}
.videoDiv video{
    max-width: 100%;

}
.videoAndmic{
    display: flex;
    justify-content: center;
}
.joinNow{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 9px;
    margin-bottom: 60px;
}
.innerDiv{
    display: flex;
}